.App{
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.lightMode {
    background-color: var(--backgroundColorLightMode);
}

.darkMode {
    background-color: var(--backgroundColorDarkMode);
    color: var(--textColorDarkMode);
}